[Unit]
Description=Wave Tracker LED Matrix

[Service]
ExecStart=/root/wave-tracker-led-matrix/buoys.sh
WorkingDirectory=/root/wave-tracker-led-matrix
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target