[Unit]
Description=Wave Tracker LED Matrix

[Service]
ExecStart=/home/pi/wave-tracker-led-matrix/buoys.sh
WorkingDirectory=/home/pi/wave-tracker-led-matrix
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target